---
layout: default
title: "Home"
---

<article> 
  <p> Hi, I am Samia. Delighted you're here!
  </p> 
  <p> I am a software engineer by profession and have studied Math and Computer Science. 
    In this blog I would like to discover true strengths and weaknesses of my being(!) - be it
  through philosophically inclined blogs, math tutorials on topics I'm currently learning, or 
  sharing software I've worked on or am working on. Mostly, I hope it's a place to share about myself
  and as a result </p>
</article>

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
