---
layout: default
title: "Home"
---

<article> 
  <p> Hi, I am Samia. Happy you're here :)
  </p> 
  <p> I am a software engineer by profession and have studied Mathematics and Computer Science.
    In this blog I would like to try my hand at creating everything and anything that doesn't fall
    in the other categories of my life such as my job. I may write philosophically inclined blogs,
    upload math tutorials or software projects, or even share my music. Most of all, I hope it's a
    place to share about myself, expose my weaknesses and ultimately become a better person.</p>
</article>

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
