---
layout: default
title: "Home"
---

Hi, I am Samia, and am delighted you're here.

I have an interesting job and a degree I loved, but most of all I identify as the person who is curious about 
what they can accomplish in life using the skills and talents they were given. I try to create rather than consume, in this blog and 
along the way discover true strengths and weaknesses of my being. 

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
